---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Landing page de Code202">
	<main>
		<h1 class="text-center mt-10 text-6xl font-bold leading-5">¡El inicio de algo grande!</h1>
	</main>
</Layout>